.session-expired-modal {
  max-width: 520px;
  width: 90% !important;
  text-align: center;

  .icon {
    margin-bottom: 8px;
  }
}

.session-expired-modal__user {
  color: #666;
}

.session-expired-modal__countdown {
  color: #444;
}

.session-expired-modal__form {
  text-align: left;
  margin-bottom: 16px;
}

.session-expired-modal__actions {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}
